.result {
    height: 60px;
    background-color: #bbb;
    width: 100%;
  }
  
  .result p {
    font-size: 40px;
    margin: 5px;
  
  }
  
  .calculator{
    max-width: 400px;
    margin: auto;
  }
  
  .btn {
    display: block;
    background-color: #bbb;
  }
  
  button {
    width: 25%;
    height: 60px;
    font-size: 30px;
  }


  /*..............*/
 
  .content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 160px;
    background-color: cadetblue;
    display: block;
    border-radius: 10px;
    padding: 80px;
   margin-left: 600px;
   margin-right: 600px;
 
}


.contador{
  font-size: large;
  width: 100px;
  height: 40px;
  margin-bottom: -80px;
    
 }


